.navbar-default {
  background-color: #232D4B;
  background-image: url("www/white-logo.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 0px 0px 0px 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #F84C1E;
  background: #232D4B;
}

a.navbar-brand:hover {
  color: #F84C1E !important;
}

a:hover {
  color: #F84C1E !important;
}

a {
  color: #F84C1E;
}

.hero-image {
    position: relative;
    margin-bottom: 2em;
    /* liner gradient tints the image darker for readability*/
    background-image: url(www/DSPG2022-logo.png);
    /*linear-gradient( rgba(0,0,0,.2), rgba(0,0,0,.2) ) */
    height: 400px;
    background-size: cover;
    background-color: #141c25f2;
    background-position: center center;
    display: flex; /* Change to `display: none` for no hero image */
    justify-content: center;
    align-items: center;
}

.top-text {
  position: relative;
  font-size: 34px;
  padding-bottom: 0.5em
  text-transform: uppercase;
  text-align: center;
  display: none; /* Change to `display: none` for no top text */
  color: #232D4B;
}

.bottom-text {
  position: relative;
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center;
  display: none; /* Change to `display: none` for no bottom text */
  color: #232D4B;
  margin-bottom: 2.5rem;
  font-weight: bold;
}

/*-----------------TOC----------------*/

/* Makes TOC sticky (needed if you used a hero image) */

.row-fluid{
  display: flex; /* Necessary for sticky TOC*/

}

.tocify {
  position: -webkit-sticky;
  position: sticky;
  top: 120px; /*Controls where TOC stops when sticky */
  width: 100% !important;
}

@media screen and (max-width: 767px){

  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }

  .top-text {
    font-size: 25px;
  }

  .bottom-text {
    font-size: 40px;
  }


}
